p {
  margin-bottom: 0.5rem;
  color: #718096;
}

.formControl {
  width: 60%;
  margin-bottom: 1.875rem !important;
  background-color: #e2e8f0;
  border-radius: 5px;
}

select {
  padding-left: 0.5rem !important;
  height: 1.5rem !important;
  font-size: 0.9rem !important;
  color: #686a6e !important;
}