.card {
  margin: 0 4% !important;
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2) !important;
  text-align: center;
  height: 200px;
  border-radius: 10px !important;
}

.heading {
  text-transform: uppercase;
  color: #718096;
  letter-spacing: 2px !important;
  font-size: 14px !important;
  margin-top: 0.7rem !important;
}

.count {
  margin-top: 0.7rem !important;
  font-size: 2rem !important;
}

.date {
  margin-top: 1.5rem !important;
  color: #718096;
}

.infected {
  border-bottom: 10px solid #5a67d8;
}

.recovered {
  border-bottom: 10px solid #48bb78;
}

.deaths {
  border-bottom: 10px solid #e53e3e;
}

@media (max-width: 960px) {
  .card {
    margin: 4.375rem 0 !important;
  }
}