* {
  font-family: Poppins, sans-serif !important;
}

body {
  background-color: #eaeff6;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

::selection {
  background-color: #43aaa8;
  color: #fff;
}

.panel {
  width: 85%;
  border-radius: 10px;
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
  background-image: linear-gradient(#33e8bb, #43aaa8);
  border-radius: 10px;
  padding: 3.125rem;
  height: 100px;
  margin-bottom: 4.5rem;
}

.cards {
  grid-area: 2 / 1 / 6 / 6;
}

.graphCard {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding: 3.125rem;
  width: 85%;
  border-radius: 10px;
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
  background-color: white;
  margin-bottom: 1rem;
}

.title {
  grid-area: 1 / 1 / 2 / 3;
}

.countryPicker {
  grid-area: 2 / 1 / 3 / 3;
}

.graph {
  grid-area: 1 / 3 / 4 / 6;
}

@media (max-width: 960px) {
  .container {
    margin: 0 10%;
  }

  .panel {
    background-image: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
    height: 100%;
    grid-template-columns: 1fr 300px;
    grid-template-columns: minmax(0, 1fr) 300px;
  }

  .cards {
    width: 100%;
    margin: 0;
    overflow: hidden;
    grid-area: 0;
  }

  .graphCard {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }

  .title {
    grid-area: 1 / 1 / 2 / 3;
  }
  .countryPicker {
    grid-area: 2 / 1 / 3 / 3;
  }
  .graph {
    grid-area: 3 / 1 / 7 / 2;
  }
}